# TO ACTIVATE THE VIRTUAL ENVIROMENT ---> .\project-venv\Scripts\Activate.ps1, .\magenta-env\Scripts\Activate.ps1 
# TO CREATE THE ENV (windows) py -m venv project-venv; (mac) -m venv project-venv
# TO UPGRADE PIP ---> python.exe -m pip install --upgrade pip
# TO INSTALL THE PACKAGES ---> pip install -r .\requirements.txt
# link: https://docs.google.com/document/d/1GxJ8pgdAnah1K2ExN9J4gN-SvlEsH0420-Y75BbFTi4/edit#heading=h.bihdr7ds51wm
# TO UPDATE JUPITER pip install --ignore-installed --upgrade jupyter

numpy
librosa
soundfile
ipykernel
matplotlib
requests
python-osc
opencv-python
imutils
argparse
joblib
pandas
tensorflow
scikit-learn
mediapipe
pygame
magenta
tensorflow-cpu
